<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<ul>
{% extends 'posts/layout.html' %}
{% block content %}
    <h3 class="center-align red lighten-3">{{ title }}</h3>
    <ul class="collection">
    {% for post in posts %}
        <li class="collection-item"><a href="/posts/details/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

</body>
</html>