<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSAMA blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
<header class="cotainer center-align">
    <h1>OSAMA Blog</h1>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
    <a href="/admin/" class="center-align" style="display: block;">Admin Panel</a>
</div>
</body>
</html>