{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Home </h1>
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}
    {#        {{ form.as_p }} <!-- shows the field name as a label of it -->#}
            {{ form.errors }}
            {{ form.post }} <!-- hide the field name  -->
            <br>
            <button type="submit">Submit</button>
        </form>
        <h2>{{ text }}</h2>
        {% for post in posts %}
            <h1>{{ post.post }}</h1>
            <p>Posted by : {{ post.user }}
               &emsp; on : {{ post.post_date }}
               &emsp; updated on : {{ post.update_date }}
            </p>
    {#        <p>Posted by : {{ post.user.get_full_name }} &emsp; on : {{ post.post_date }}</p>#}
            <hr>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h2>People you may know</h2>
        {% for user in users %}
            {% if not user in friends %}
                <h3>
                    <a href="{% url 'accounts:profile_with_id' id=user.id %}">{{ user.username }}</a>
                </h3>
                <a class="btn btn-success" href="{% url 'home:change_friends' friendship='add' id=user.id %}">Add Friend</a>
            {% endif %}

        {% endfor %}
        <h2>My Friends</h2>
        {% for friend in friends %}
            <h3>
                <a href="{% url 'accounts:profile_with_id' id=user.id %}">{{ friend.username }}</a>
            </h3>
            <a class="btn btn-danger" href="{% url 'home:change_friends' friendship='remove' id=friend.id %}">Remove Friend</a>
        {% endfor %}
    </div>
{% endblock %}