<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
        {% endblock %}

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
        <br>
        <!-- Static navbar -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
{#                <a class="navbar-brand" href="{% url 'accounts:home' %}">Social Network</a>#}
                <a class="navbar-brand" href="{% url 'home:home' %}">Social Network</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
{#                          <li><a href="{% url 'accounts:home' %}">Home</a></li>#}
                          <li><a href="{% url 'home:home' %}">Home</a></li>
                          <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                          <li><a href="{% url 'accounts:edit' %}">edit Profile</a></li>
                          <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
{#                          <li><a href="{% url 'accounts:password_reset' %}">Reset Password</a></li>#}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="{% url 'accounts:login' %}">Login</a></li>
                          <li><a href="{% url 'accounts:register' %}">Register</a></li>
                          <li><a href="{% url 'accounts:password_reset' %}">Reset Password</a></li>
                        </ul>
                    {% endif %}
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>
          {% block body %}

          {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>#}
        <script src="../../dist/js/bootstrap.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>