{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ comment.user }}'s comment Detail
{% endblock %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
            <br>
            <blockquote>
              <p>{{ comment.content }}</p>
              <footer>By : {{ comment.user }} &emsp;
                      on : {{ comment.added | timesince }} ago
                  {% if comment.children.count > 0 %} |
                      {% if comment.children.count == 1 %}
                          {{ comment.children.count }} Comment
                      {% elif comment.children.count > 1 %}
                          {{ comment.children.count }} Comments
                      {% endif %}
                      {% if request.user == comment.user %}
                        | <a href="{{ comment.get_absolute_url_delete }}">Delete</a>
                      {% endif %}
                  {% endif %}
{#                  | <a href="#" class="comment_reply_button">Reply</a>#}
              </footer>
                <div>
                    {% for child_comment in comment.children %}
                        <blockquote>
                          <p>{{ child_comment.content }}</p>
                          <footer>
                              By : {{ child_comment.user }} &emsp; on : {{ child_comment.added | timesince }} ago
                              {% if request.user == child_comment.user %}
                                | <a href="{{ child_comment.get_absolute_url_delete }}">Delete</a>
                              {% endif %}
                          </footer>
                        </blockquote>
                        <hr>
                    {% endfor %}

                    {% if request.user.is_authenticated %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            <input type="submit" value="Reply" class="btn btn-primary">
                        </form>
                    {% else %}
                        <br>
                        <p>You must login to comment </p>
                    {% endif %}
                </div>
            </blockquote>
            <hr>
    </div>
{% endblock %}