{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create
{% endblock %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block body %}
    <div class="col-sm-6">
        <h1>Preview</h1>
        <hr>
        <div class="content-preview">
            <h3 class="preview-title"></h3>
            <p class="preview-content"></p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h1>Form</h1>
                <hr>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    {{ form | crispy }}
                    <input type="submit" value="Create Post" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <a href="{% url 'posts:list' %}" class="btn btn-primary">All Posts</a>
    <br>
    <br>
    <br>
{% endblock %}