{% if form.errors.non_field_errors %}
    {{ form.errors.non_field_errors }}
{% endif %}
<h1>{{ title }}</h1>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ title }}" class="btn btn-primary">
</form>

{% if form.instance %}
    <h1>{{ form.instance.name }}</h1>
{% endif %}