{% extends 'base.html' %}
{% block title %}
    Create
{% endblock %}
{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">
                <h1>Form</h1>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Create Post" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}