<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                OSAMA MOHAMED.COM
            {% endblock %}
        </title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'snippets/nav.html' %}
            {% block body %}
            {% endblock %}
        </div>
        {% include 'snippets/js.html' %}
    </body>
</html>