{% include 'partials/header.html' %}
<form method="post" action="{% url 'add' %}">
    {% csrf_token %}
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" id="title">
    <br>
    <label for="text">Text</label>
    <br>
    <textarea name="text" id="text"></textarea>
    <br>
    <br>
    <input type="submit" value="submit">
</form>
<br>
<a href="/todos/">Go Back</a>
{% include 'partials/footer.html' %}