{% include 'partials/header.html' %}
        <a href="/todos/">&#8656; Go Back </a>
        <h1>{{ todo.title }}</h1>
        <p>{{ todo.text }}</p>
        <br>
        <small>Created at : {{ todo.create_date }}</small>
{% include 'partials/footer.html' %}