{% include 'partials/header.html' %}
        <ul>
            {% for todo in todos %}
                <li>
                    <h2><a href="/todos/details/{{ todo.id }}">{{ todo.title }}</a><small><small><small> : in {{ todo.create_date }}</small></small></small></h2>
                    <h3>{{ todo.text }}</h3>
        {#            <h5>{{ todo.create_date }}</h5>#}
                </li>
                <br>
            {% endfor %}
        </ul>
{% include 'partials/footer.html' %}