<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/3.3/examples/cover/cover.css" rel="stylesheet">
        <style>
            body{
                background-color: #0e4d84ad;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">
                    <div class="cover-container">

                      <div class="inner cover">
                        {% block body %}
                        {% endblock %}

{#                            <h1 class="cover-heading">Shorten URL</h1>#}
                      </div>

                      <div class="mastfoot">
                        <div class="inner">
                          <p>Developed by <a href="https://github.com/OSAMAMOHAMED1234/" target="_blank">OSAMA MOHAMED </a></p>
                        </div>
                      </div>

                    </div>

                </div>
            </div>
        </div>
    </body>
</html>