
{% extends 'base.html' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}


{% block body %}
    <h1>Change Password!</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
{% endblock %}
