
{% extends 'base.html' %}

{% block title %}
    <title>Log In</title>
{% endblock %}


{% block body %}
    <h1>login!</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock %}
