
{% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}


{% block body %}
    <h1>Register!</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Register" class="btn btn-primary">
    </form>
{% endblock %}
