
{% extends 'base.html' %}

{% block title %}
    <title>Reset Password Complete</title>
{% endblock %}


{% block body %}
    <h1>Password reset complete!</h1>
    <p>
        Your password has been set. You may go ahead and log in now.
    </p>
    <br>
    <a href="{% url 'accounts:login' %}">Login</a>
{% endblock %}
