
{% extends 'base.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}


{% block body %}
    <h1>Reset Password!</h1>
    <p>
        Forgotten your password? Enter your email address below,
        and we'll email instructions for setting a new one.
    </p>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </form>
{% endblock %}
