{% extends 'base.html' %}
{% block title %}
    Restaurants | {{ block.super }}
{% endblock %}

{% block body %}
    <h1>My Restaurants <small><a href="{% url 'restaurants:create' %}">Add</a></small></h1>
    <h2>Count : {{ object_list | length }}</h2>
    <ul>
        {% for obj in object_list %}
            <li>ID : {{ obj.id }}</li>
            <li>name : <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
            <li>category : {{ obj.category }}</li>
            <li>location : {{ obj.location }}</li>
            <li>added : {{ obj.added }}</li>
            <li>updated : {{ obj.updated }}</li>
            <hr>
        {% empty %}
            <li><a href="{% url 'restaurants:create' %}">Add Restaurant</a></li>
        {% endfor %}
    </ul>
{% endblock %}
