{% extends 'base.html' %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
    <h1>Posts!</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'posts:create' %}" class="btn btn-success" role="button">Create</a>
        Hello {{ user.username }}
        <a href="{% url 'logout' %}" class="btn btn-warning" role="button">Logout</a>
    {% else %}
        <a href="{% url 'register' %}" class="btn btn-info" role="button">Register</a>
        <a href="{% url 'login' %}" class="btn btn-warning" role="button">Login</a>
    {% endif %}
    <br>
    <br>
    <form method="get" action="">
        <div class="input-group">
            <input type="text" name="search_post" value="{{ request.GET.search_post }}" placeholder="Search Posts ..." class="form-control">
            <span class="input-group-btn">
{#                <input type="submit" value="Search" class="btn btn-warning">#}
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <br>
    <br>
    <div class="row">
    {% for obj in objects %}
      <div class="col-sm-12">
        <div class="thumbnail">
          {% if obj.image %}
            <a href="{{ obj.get_absolute_url }}">
              <img src="{{ obj.image.url }}" class="img-responsive" alt="{{ obj.title }}">
            </a>
          {% endif %}
          <div class="caption post-detail-item">
            <h3>
                {% if obj.draft %}
                    Staff only : <span style="color: red;">Draft</span>
                {% endif %}
            </h3>
            <h3>
                {% if obj.publish > today %}
                    Staff only : <span style="color: red;">Future Post</span>
                {% endif %}
            </h3>
            <h3>
                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> &emsp;
                <small>{{ obj.added | timesince}} ago</small>
            </h3>
            {% if obj.user.get_full_name %}
                <p>Author : {{ obj.user.get_full_name }}</p>
            {% endif %}
            <p>Author : {{ obj.user }}</p>
{#            <p class="content-markdown">{{ obj.content | truncatechars:85 }} </p>#}
            <p>{{ obj.get_markdown | truncatechars_html:20 }} </p>
            <p>
                <a href="{% url 'posts:detail' slug=obj.slug %}" class="btn btn-primary" role="button">View</a>
                <a href="{% url 'posts:update' slug=obj.slug %}" class="btn btn-success" role="button">Edit</a>
                <a href="{% url 'posts:delete' slug=obj.slug %}" class="btn btn-danger" role="button">Delete</a>
{#                <a href="{% url 'posts:detail' id=obj.id %}" class="btn btn-primary" role="button">View</a>#}
{#                <a href="{% url 'posts:update' id=obj.id %}" class="btn btn-success" role="button">Edit</a>#}
{#                <a href="{% url 'posts:delete' id=obj.id %}" class="btn btn-danger" role="button">Delete</a>#}
            </p>
          </div>
        </div>
      </div>
{#      {% cycle '' '<div class="col-sm-12"><hr></div></div><div class="row">' %}#}
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="?{{ page_request }}={{ objects.previous_page_number }}
                    {% if request.GET.search_post %}
                        &search_post={{ request.GET.search_post }}
                    {% endif %}">previous
                </a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
            </span>

            {% if objects.has_next %}
                <a href="?{{ page_request }}={{ objects.next_page_number }}
                    {% if request.GET.search_post %}
                        &search_post={{ request.GET.search_post }}
                    {% endif %}">next
                </a>
            {% endif %}
        </span>
    </div>


    </div>
    </div>
{% endblock %}


{#        <h1>{{ obj.id }}</h1>#}
    {#            <h2><a href="{% url 'posts:detail' id=obj.id %}">{{ obj.title }}</a></h2>#}
{#        <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>#}
{#        <p>{{ obj.content | linebreaks | truncatechars:120 }}</p>#}
{#        <p>{{ obj.added }}</p>#}
{#        <p>{{ obj.updated }}</p>#}
{#        <a href="{% url 'posts:update' id=obj.id %}">edit {{ obj.title }}</a>#}
{#        <a href="{% url 'posts:delete' id=obj.id %}">delete {{ obj.title }}</a>#}