{% extends 'base.html' %}
{% block title %}
    {{ form.instance.title }} Menus | {{ block.super }}
{% endblock %}

{% block body %}
    <h1>{{ form.instance.name }}</h1>
    <p>location : {{ form.instance.restaurant.name }}</p>
    {% if form.instance.contents %}
    Contents
    <ul>
        {% for item in form.instance.get_contents %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.instance.excludes %}
    Excludes
    <ul>
        {% for item in form.instance.get_excludes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>

    <hr>
    <h3>Make Changes</h3>
    {% include 'snippets/form-snippet.html' with form=form %}

{% endblock %}
