{% extends 'base.html' %}
{% block title %}
    Menus | {{ block.super }}
{% endblock %}

{% block body %}
    <h1>{{ object.name }}</h1>
    <p>location : {{ object.restaurant.name }}</p>
    {% if object.contents %}
    Contents
    <ul>
        {% for item in object.get_contents %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.excludes %}
    Excludes
    <ul>
        {% for item in object.get_excludes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
{% endblock %}
