<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'personal/header.html' %}
{% block content %}
    {% for c in content %}
        <p class="lead">{{ c }}</p>
    {% endfor %}
{% endblock %}
</body>
</html>