<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'personal/header.html' %}
{% block content %}
    <p>Hey!, Welcome to my website, I'm a programmer!</p>
    {% include 'personal/includes/htmlsnippet.html' %}
{% endblock %}
</body>
</html>